In [61]:
Latin_Translator={'man':'vir','woman':'femina','tree':'arbor','river':'flumen','dog':'canis','table':'mensa',
                 'king':'rex', 'crown':'corona', 'heaven':'caelum', 'boy':'puer', 'girl':'puella', 'war':'bellum',
                 'hero':'heros', 'enemy':'hostis', 'law':'ius', 'tiger':'tigris', 'torch':'lampas', 'sword':'gladius',
                 'money':'pecuniam', 'chair':'sella'}

word=input('Enter a Word to Translate from English to Latin (Enter stop to stop): ')
while True:
    if word=='stop':
        break
    else:
        print(Latin_Translator[word])
        word=input('Enter a Word to Translate from English to Latin (Enter stop to stop): ')

Enter a Word to Translate from English to Latin (Enter stop to stop): money
pecuniam
Enter a Word to Translate from English to Latin (Enter stop to stop): heaven
caelum
Enter a Word to Translate from English to Latin (Enter stop to stop): sword
gladius
Enter a Word to Translate from English to Latin (Enter stop to stop): law
ius
Enter a Word to Translate from English to Latin (Enter stop to stop): table
mensa
Enter a Word to Translate from English to Latin (Enter stop to stop): stop

In [62]:
September_Temperature={1:85,2:83,3:84,4:84,5:82,6:87,7:86,8:85,9:81,10:82,
                       11:84,12:87,13:89,14:90,15:84,16:85,17:89,18:89,19:86,20:78,
                       21:78,22:70,23:71,24:75,25:77,26:77,27:85,28:87,29:91,30:86}
x=list(September_Temperature.values())
y=list(September_Temperature.values())
for i in September_Temperature:
    September_Temperature[i]=(September_Temperature[i]-32)*(5/9)
print(September_Temperature)

coolest=min(September_Temperature.values())
for key in September_Temperature:
    if September_Temperature[key]==coolest:
        print('The Coolest Day in September is: ', key)
Max=(list(sorted(September_Temperature.values()))[-2])
for key in September_Temperature:
    if September_Temperature[key]==Max:
        print('The Second Hottest Day in September is: ', key)

{1: 29.444444444444446, 2: 28.333333333333336, 3: 28.88888888888889, 4: 28.88888888888889, 5: 27.77777777777778, 6: 30.555555555555557, 7: 30.0, 8: 29.444444444444446, 9: 27.222222222222225, 10: 27.77777777777778, 11: 28.88888888888889, 12: 30.555555555555557, 13: 31.666666666666668, 14: 32.22222222222222, 15: 28.88888888888889, 16: 29.444444444444446, 17: 31.666666666666668, 18: 31.666666666666668, 19: 30.0, 20: 25.555555555555557, 21: 25.555555555555557, 22: 21.11111111111111, 23: 21.666666666666668, 24: 23.88888888888889, 25: 25.0, 26: 25.0, 27: 29.444444444444446, 28: 30.555555555555557, 29: 32.77777777777778, 30: 30.0}
The Coolest Day in September is:  22
The Second Hottest Day in September is:  14

### symmetric difference (^) gives us all the elements in one set but not in both

In [63]:
Set1={1,3,5,7,9,11}
Set2={3,7,11,12}
Set1^Set2

{1, 5, 9, 12}

### .isdisjoint() returns true if there are no similar elements between the sets, else it will return false

In [66]:
Set1={2,4,6,8}
Set2={1,3,5,7}
Set1.isdisjoint(Set2)

True

In [67]:
Set3={2,4,6,8}
Set4={1,3,5,7,8}
Set3.isdisjoint(Set4)

False

### intersection update (&=) changes a set to include only the values contained in all compared sets

In [68]:
Set5={1,2,3,4,5,6,7}
Set6={1,3,5,7}
Set5.intersection_update(Set6)
Set5

{1, 3, 5, 7}

In [69]:
Set5={1,2,3,4,5,6,7}
Set6={1,3,5,7}
Set5&=(Set6)
Set5

{1, 3, 5, 7}

### symmetric difference (^=) gives the numbers contained in the first set but not in the second set

In [70]:
Set7={1,2,3,4,5,6,7,8}
Set8={2,4,6,8}
Set7.symmetric_difference(Set8)

{1, 3, 5, 7}

In [71]:
Set7={1,2,3,4,5,6,7,8}
Set8={2,4,6,8}
Set7^=(Set8)
Set7

{1, 3, 5, 7}

### discard() and remove() delete a selected element from a set and pop() deletes the first element

In [72]:
Set9={1,2,3,4,5,6,7,8,9,10}
Set9.discard(5)
Set9

{1, 2, 3, 4, 6, 7, 8, 9, 10}

In [73]:
Set9.pop()

1

In [74]:
Set9.remove(4)
Set9

{2, 3, 6, 7, 8, 9, 10}

## Caleb Puckett

## CS-150

## PA5_CNP

## Fall 2021